################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Common/obj
/Common/bin/Debug/netcoreapp3.1
/.vs
